@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    /* Changed 'font-body' to 'font-sans' below */
    @apply font-sans bg-[#221912] text-[#F3F4F6]; 
  }
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #221912; 
}

::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FDE047; 
}